@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

html {
    background: #eee;
}

body {
    padding: 1em;
    margin: 0 auto;
    max-width: 800px;
    color: #000;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

#photo { text-align: center }
#photo>img { width: 80% }

footer { font-size: 80%; color: #555; }

h1, h2 { font-weight: 700 }
h1 { font-size: 180%; }
h2 { font-size: 140%; }
